@{
    Layout = "_LayoutAdmin";
}

@section Style{
    <link rel="stylesheet" href="~/css/admin.css" />
}

@model List<Pizza>

@if(Model.Count() == 0)
{
    <h3>Non ci sono pizze da mostrare...</h3>
}
        @* Una pizza avrà le seguenti informazioni :
        un nome
        una descrizione
        una foto (url)
        un prezzo *@

        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1 class="my-5">Pizze</h1>

                </div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row row-cols-lg-4 row-cols-md-2 gy-3">

                @foreach(Pizza pizza in Model)
                {
                    <div class="col">
                        <div class="card h-100">
                            <img class="mx-auto border-bottom" width="304" height="203" src="@pizza.Image" alt="@pizza.Name">
                            <div class="card-body description">
                                <h5 class="card-title">@pizza.Name</h5>
                                <p class="card-text">@pizza.Description</p>
                                <p>@pizza.Price&euro;</p>
                            </div>
                        <a class="align-self-end p-2" href="@Url.Action("Details", "Pizza", new { id = pizza.Id })">
                            <i class="icon fa-solid fa-circle-info"></i>
                        </a>
                        </div>
                    </div>   
                }

                
            </div>
        </div>



